<#assign wp=JspTaglibs["/aps-core"]>
<html lang="en">
    <head>
        <meta charset="utf-8" />
      	<title><@wp.currentPage param="title" /></title>
      	<meta name="viewport" content="width=device-width,  user-scalable=no" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      	<script nonce="<@wp.cspNonce />" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script nonce="<@wp.cspNonce />" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script nonce="<@wp.cspNonce />" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	</head>
  	<body>
        <header>
            <@wp.fragment code="test_header" escapeXml=false />
      </header>
        <div class="container">
  		    <div class="row">
    		    <div class="col-4">
                <@wp.fragment code="test_element" escapeXml=false />
    		    </div>
    		<div class="col-4">
    		    <@wp.show frame=3 />
    		</div>
    		<div class="col-4">
      			<@wp.show frame=4 />
    		</div>
  		</div>
	  </div>
      <footer>
      	    <@wp.show frame=5 />
      </footer>
  </body>
</html>
